.popUp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 2;
    display: none;
}
.popUp button {
    float: right;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}
.header {
    text-align: center;
}
#pageTitle {
    text-align: center;
    font-style: italic;
}
.add {
    text-align: center;
}
.button {
    margin: 10px;
}
.tableSpacing{
    margin-top: 10px;
}
.para{
    text-align:center;
}


